mat-card {
  height: 95vh;
  background: url("https://lh3.googleusercontent.com/LtyguDTP1aSJsEAddJFduc7NE_VMHpWobWBCXl6-vrLeEeaYhQyMdFuzYXAJs0-_eA=h900-rw");
  background-size: cover;
  background-repeat: no-repeat;
}
