<mat-card>
  <form [formGroup]="form" (submit)="submit()" fxLayout="column" fxLayoutGap="1rem" fxFlexAlign="center"
        fxLayoutAlign="center">
    <input type="text" value="" formControlName="name" placeholder="Game Name: ">
    <input type="password" value="" formControlName="password" placeholder="Password: ">
    <input type="number" min="2" max="2" value="" formControlName="turns" placeholder="Turns per player: ">
    <div fxLayout="row" fxLayoutAlign="flex-end" class="margin-button">
      <button type="submit" mat-button color="accent">
        Add Game
      </button>
    </div>
  </form>
</mat-card>
<ng-template #dialogViewCode>
  <div mat-dialog-content class="text-center">
    <p>Share Code</p>
    <p>{{ newCode }}</p>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center">
    <button mat-button color="accent" (click)="onAccepted()">
      <strong>Aceptar</strong>
    </button>
  </mat-dialog-actions>
</ng-template>

